<div id="<%= dom_id booking_discount %>" class="col">
  <div class="card mb-3">
    <div class="card-header">
      <%= link_to booking_discount do %>
        <i class="fa fa-link"></i>
        <strong><%= booking_discount.to_s %></strong>
      <% end %>
    </div>
    <div class="card-body">
      <p><strong>Booking:</strong> <%= booking_discount.booking_id %></p>
      <p><strong>Discount type:</strong> <%= booking_discount.discount_type %></p>
      <p><strong>Discount percent:</strong> <%= booking_discount.discount_percent %></p>
      <p><strong>Discount amount:</strong> <%= booking_discount.discount_amount %></p>
      <p><strong>Promotion:</strong> <%= booking_discount.promotion_id %></p>
      <p><strong>Reason for discount:</strong> <%= booking_discount.reason_for_discount %></p>
      <p><strong>Note:</strong> <%= booking_discount.note %></p>
    </div>
  </div>
</div>
