<div id="<%= dom_id booking_discount %>">
  <p>
    <strong>Booking:</strong>
    <%= booking_discount.booking_id %>
  </p>

  <p>
    <strong>Discount type:</strong>
    <%= booking_discount.discount_type %>
  </p>

  <p>
    <strong>Discount percent:</strong>
    <%= booking_discount.discount_percent %>
  </p>

  <p>
    <strong>Discount amount:</strong>
    <%= booking_discount.discount_amount %>
  </p>

  <p>
    <strong>Promotion:</strong>
    <%= booking_discount.promotion_id %>
  </p>

  <p>
    <strong>Reason for discount:</strong>
    <%= booking_discount.reason_for_discount %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= booking_discount.note %>
  </p>

</div>
