<%= form_with(model: booking_discount) do |form| %>
  <% if booking_discount.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking_discount.errors.count, "error") %> prohibited this booking_discount from being saved:</h2>

      <ul>
        <% booking_discount.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :booking_id, style: "display: block" %>
    <%= form.text_field :booking_id %>
  </div>

  <div>
    <%= form.label :discount_type, style: "display: block" %>
    <%= form.select :discount_type, BookingDiscount.discount_types.map { |name, value| [BookingDiscount.human_attribute_name("discount_type.#{name}"), name] }, include_blank: true %>
  </div>

  <div>
    <%= form.label :discount_percent, style: "display: block" %>
    <%= form.number_field :discount_percent %>
  </div>

  <div>
    <%= form.label :discount_amount, style: "display: block" %>
    <%= form.text_field :discount_amount %>
  </div>

  <div>
    <%= form.label :promotion_id, style: "display: block" %>
    <%= form.text_field :promotion_id %>
  </div>

  <div>
    <%= form.label :reason_for_discount, style: "display: block" %>
    <%= form.text_field :reason_for_discount %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_field :note %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
