<p style="color: green"><%= notice %></p>

<%= render @booking_discount %>

<div>
  <%= link_to "Edit this booking discount", edit_booking_discount_path(@booking_discount) %> |
  <%= link_to "Back to booking discounts", booking_discounts_path %>

  <%= button_to "Destroy this booking discount", @booking_discount, method: :delete %>
</div>
