<p style="color: green"><%= notice %></p>

<%= render @vip_customer_benefit %>

<div>
  <%= link_to "Edit this vip customer benefit", edit_vip_customer_benefit_path(@vip_customer_benefit) %> |
  <%= link_to "Back to vip customer benefits", vip_customer_benefits_path %>

  <%= button_to "Destroy this vip customer benefit", @vip_customer_benefit, method: :delete %>
</div>
