<div id="<%= dom_id special_request %>">
  <p>
    <strong>Booking:</strong>
    <%= special_request.booking_id %>
  </p>

  <p>
    <strong>Room reservation:</strong>
    <%= special_request.room_reservation_id %>
  </p>

  <p>
    <strong>Request:</strong>
    <%= special_request.request %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= special_request.price %>
  </p>

</div>
