<p style="color: green"><%= notice %></p>

<%= render @special_request %>

<div>
  <%= link_to "Edit this special request", edit_special_request_path(@special_request) %> |
  <%= link_to "Back to special requests", special_requests_path %>

  <%= button_to "Destroy this special request", @special_request, method: :delete %>
</div>
