<div id="<%= dom_id booking_additional_service %>">
  <p>
    <strong>Booking:</strong>
    <%= booking_additional_service.booking_id %>
  </p>

  <p>
    <strong>Additional service:</strong>
    <%= booking_additional_service.additional_service_id %>
  </p>

  <p>
    <strong>Room reservation:</strong>
    <%= booking_additional_service.reservation_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= booking_additional_service.note %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= booking_additional_service.quantity %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= booking_additional_service.unit %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= booking_additional_service.total_price %>
  </p>

</div>
