<div id="<%= dom_id additional_service %>" class="card mb-3">
  <div class="card-header">
    <strong>Additional Service</strong>
  </div>
  <div class="card-body">
    <p><strong>Name:</strong> <%= additional_service.name %></p>
    <p><strong>Summary:</strong> <%= additional_service.summary %></p>
    <p><strong>Price:</strong> <%= additional_service.price %></p>
    <p><strong>Unit:</strong> <%= additional_service.unit %></p>
    <p><strong>Status:</strong> <%= additional_service.status %></p>
  </div>
</div>
