<div id="<%= dom_id record %>" class="col record-form">
  <div class="card mb-3">
    <div class="card-header">
      <% if record.new_record? %>
        <strong style='color: var(--bs-indigo)'>[<%= translate("buttons.new") %>]</strong>
      <% else %>
        <strong style='color: var(--bs-indigo)'>[#<%= record.id %>]</strong> <strong><%= record.to_s.html_safe %></strong>
      <% end %>
    </div>
    <div class="card-body">
      <%= form_with(model: record) do |form| %>
        <%= render partial: "devise/shared/error_messages", locals: { resource: record } %>

        <%= render_record_form(form, record) %>

        <div class="form-group">
          <%= form.submit(class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "shared/footer_actions", locals: { record: record } %>
