<div id="<%= dom_id record %>" class="col">
  <div class="card mb-3">
    <div class="card-header">
      <% if is_index_action? %>
        <%= link_to record, class: 'text-decoration-none' do %>
          <strong><%= record.to_s.html_safe %></strong>
        <% end %>
      <% else %>
        <strong><%= record.to_s.html_safe %></strong>
      <% end %>
    </div>
    <div class="card-body row">
      <% if action_name == 'show' %>
        <div class="col-12">
          <p>
            <strong><%= record.class.human_attribute_name(:id) %></strong> : 
            <%= render_text_field(record, :id) %>
          </p>
        </div>
      <% end %>

      <%= render_record_fields(record) %>
      <%= yield if block_given? %>

      <% if action_name == 'show' %>
        <div class="col-md-6">
          <strong><%= record.class.human_attribute_name(:created_at) %></strong> : 
          <%= render_datetime_field(record, :created_at) %>
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
          <strong><%= record.class.human_attribute_name(:updated_at) %></strong> : 
          <%= render_datetime_field(record, :updated_at) %>
        </div>
      <% end %>
    </div>

    <%= render partial: "shared/footer_actions", locals: { record: record } %>
  </div>
</div>
