<% content_for :head do %>
  <style>
    .hero-section {
      background-image: url('https://img.freepik.com/free-photo/full-shot-man-carrying-baggage_23-2149963942.jpg');
      background-size: cover;
      background-position: center;
      color: white;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .hero-text {
      text-align: center;
    }
    .service-card {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
    }
    .service-card:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  </style>
<% end %>

<!-- Header Section -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      Hotel Booking Management
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>``
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><%= translate('home.hero.nav') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about"><%= translate('home.about.nav') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services"><%= translate('home.services.nav') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact"><%= translate('home.contact.nav') %></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <%= image_tag("/locales/#{locale}.png", class: 'flag-icon') %>
            <%= I18n.locale.to_s.upcase %>
          </a>
          <ul class="dropdown-menu locale-dropdown dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% I18n.available_locales.each do |locale| %>
              <li>
                <%= link_to root_path(locale: locale), class: 'dropdown-item d-flex' do %>
                  <%= image_tag("/locales/#{locale}.png", class: 'flag-icon me-2') %>
                  <%= locale.to_s.upcase %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Hero Section -->
<div class="hero-section">
  <div class="hero-text alert alert-dark">
    <h1><%= translate('home.hero.title').gsub("\n", '<br/>').html_safe %></h1>
    <p><%= translate('home.hero.subtitle') %></p>
  </div>
</div>

<!-- About Section -->
<div id='about' class="container my-5">
  <h2 class="text-center mb-4"><%= translate('home.about.title') %></h2>
  <p class="text-center">
    <%= translate('home.about.description') %>
  </p>
</div>

<!-- Services Section -->
<div id='services' class="container my-5">
  <h2 class="text-center mb-4"><%= translate('home.services.title') %></h2>
  <div class="row">
    <div class="col-md-4">
      <div class="service-card">
        <h4><%= translate('home.services.luxury_rooms.title') %></h4>
        <p><%= translate('home.services.luxury_rooms.description') %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-card">
        <h4><%= translate('home.services.fine_dining.title') %></h4>
        <p><%= translate('home.services.fine_dining.description') %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-card">
        <h4><%= translate('home.services.health_wellness.title') %></h4>
        <p><%= translate('home.services.health_wellness.description') %></p>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div id='contact' class="container my-5">
  <h2 class="text-center mb-4"><%= translate('home.contact.title') %></h2>
  <p class="text-center"><%= translate('home.contact.description') %></p>
  <div class="text-center">
    <p><%= translate('home.contact.address_label') %>: <strong><%= translate('home.contact.address') %></strong></p>
    <p><%= translate('home.contact.phone_label') %>: <strong><%= translate('home.contact.phone') %></strong></p>
    <p><%= translate('home.contact.email_label') %>: <strong><%= translate('home.contact.email') %></strong></p>
  </div>
</div>
