<div id="<%= dom_id room_type %>">
  <p>
    <strong>Name:</strong>
    <%= room_type.name %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= room_type.summary %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= room_type.color %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= room_type.status %>
  </p>

</div>
