<div id="<%= dom_id reservation %>">
  <p>
    <strong>Room:</strong>
    <%= reservation.room_id %>
  </p>

  <p>
    <strong>Booking:</strong>
    <%= reservation.booking_id %>
  </p>

  <p>
    <strong>Check in at:</strong>
    <%= reservation.check_in_at %>
  </p>

  <p>
    <strong>Check out at:</strong>
    <%= reservation.check_out_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

  <p>
    <strong>Room price:</strong>
    <%= reservation.room_price %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= reservation.note %>
  </p>

  <p>
    <strong>Room occupant:</strong>
    <%= reservation.room_occupant %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= reservation.total_price %>
  </p>

</div>
