<p style="color: green"><%= notice %></p>

<%
page_title = Reservation.model_name.human.pluralize(I18n.locale)
content_for :title, page_title
%>

<h1><%= page_title %></h1>

<div id="reservations" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <% @reservations.each do |reservation| %>
    <%= render reservation %>
    <p>
      <%= link_to "Show this reservation", reservation %>
    </p>
  <% end %>
</div>

<%= link_to "New reservation", new_reservation_path %>
