<p style="color: green"><%= notice %></p>

<%
page_title = Reservation.model_name.human.pluralize(I18n.locale)
content_for :title, page_title
%>

<%= render partial: "shared/header_actions", locals: { title: page_title } %>

<div id="reservations" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <% @reservations.each do |reservation| %>
    <%= render reservation %>
  <% end %>
</div>

<%== pagy_bootstrap_nav(@pagy) %>
<p class='text-muted text-center'>
  <%== pagy_info(@pagy) %>
</p>

<%= link_to "New reservation", new_reservation_path, class: "btn btn-primary mt-3" %>
