<p style="color: green"><%= notice %></p>

<%= render @hotel_location %>

<div>
  <%= link_to "Edit this hotel location", edit_hotel_location_path(@hotel_location) %> |
  <%= link_to "Back to hotel locations", hotel_locations_path %>

  <%= button_to "Destroy this hotel location", @hotel_location, method: :delete %>
</div>
