<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :booking_id, style: "display: block" %>
    <%= form.text_field :booking_id %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :payment_date, style: "display: block" %>
    <%= form.datetime_field :payment_date %>
  </div>

  <div>
    <%= form.label :payment_method, style: "display: block" %>
    <%= form.select :payment_method, Payment.payment_methods.map { |name, value| [Payment.human_attribute_name("payment_method.#{name}"), name] }, include_blank: true %>
  </div>

  <div>
    <%= form.label :payment_type, style: "display: block" %>
    <%= form.select :payment_type, Payment.payment_types.map { |name, value| [Payment.human_attribute_name("payment_type.#{name}"), name] }, include_blank: true %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_field :note %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
