<div id="<%= dom_id payment %>">
  <p>
    <strong>Booking:</strong>
    <%= payment.booking_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= payment.payment_date %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= payment.payment_type %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= payment.note %>
  </p>

</div>
