<%= render 'shared/render_record_form', record: room do |form| %>
  <div class="col-12" data-controller='form-switch-counter'>
    <hr />

    <h4 class='mb-3'>
      <%= Facility.human_attribute_name(:rooms_and_facilities) %>
      <span class='badge bg-secondary'>
        <span><%= t('base.selected_text') %>: </span><span data-form-switch-counter-target='label'>0</span>
      </span>
    </h4>

    <div class='row g-3 row-cols-1 row-cols-md-2 row-cols-xl-3'>
      <%= form.collection_check_boxes :facility_ids, Facility.active.reorder(name: :asc), :id, :name do |fr| %>
        <div class='col'>
          <%= fr.label(class: 'd-block alert mb-0 alert-secondary hover-shadow', role: 'button') do %>
            <label class='form-check form-switch'>
              <%= fr.check_box(class: 'form-check-input', role: 'switch') %>
              <%= fr.label(class: 'form-check-label', role: 'button') %>
            </label>
            <span class='d-block mb-0'>
              <%= render_text_field(fr.object, :summary) %>
            </label>
          <% end %>
        </div>
      <% end %>
    </div>

    <hr />
  </div>
<% end %>
