<div id="<%= dom_id room_reservation %>">
  <p>
    <strong>Room:</strong>
    <%= room_reservation.room_id %>
  </p>

  <p>
    <strong>Booking:</strong>
    <%= room_reservation.booking_id %>
  </p>

  <p>
    <strong>Check in at:</strong>
    <%= room_reservation.check_in_at %>
  </p>

  <p>
    <strong>Check out at:</strong>
    <%= room_reservation.check_out_at %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= room_reservation.quantity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= room_reservation.status %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= room_reservation.total_price %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= room_reservation.note %>
  </p>

</div>
