<%= form_with(model: vip_customers_benefit) do |form| %>
  <% if vip_customers_benefit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vip_customers_benefit.errors.count, "error") %> prohibited this vip_customers_benefit from being saved:</h2>

      <ul>
        <% vip_customers_benefit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.text_field :customer_id %>
  </div>

  <div>
    <%= form.label :discount_type, style: "display: block" %>
    <%= form.number_field :discount_type %>
  </div>

  <div>
    <%= form.label :discount_percent_on_room_price, style: "display: block" %>
    <%= form.number_field :discount_percent_on_room_price %>
  </div>

  <div>
    <%= form.label :discount_percent_on_additional_services, style: "display: block" %>
    <%= form.number_field :discount_percent_on_additional_services %>
  </div>

  <div>
    <%= form.label :discount_amount_on_room_price, style: "display: block" %>
    <%= form.text_field :discount_amount_on_room_price %>
  </div>

  <div>
    <%= form.label :discount_amount_on_additional_services, style: "display: block" %>
    <%= form.text_field :discount_amount_on_additional_services %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
