<div id="<%= dom_id vip_customers_benefit %>" class="col">
  <div class="card mb-3">
    <div class="card-header">
      <%= link_to vip_customers_benefit do %>
        <i class="fa fa-link"></i>
        <strong><%= vip_customers_benefit.to_s %></strong>
      <% end %>
    </div>
    <div class="card-body">
      <p><strong>Customer:</strong> <%= vip_customers_benefit.customer_id %></p>
      <p><strong>Discount type:</strong> <%= vip_customers_benefit.discount_type %></p>
      <p><strong>Discount percent on room price:</strong> <%= vip_customers_benefit.discount_percent_on_room_price %></p>
      <p><strong>Discount percent on additional services:</strong> <%= vip_customers_benefit.discount_percent_on_additional_services %></p>
      <p><strong>Discount amount on room price:</strong> <%= vip_customers_benefit.discount_amount_on_room_price %></p>
      <p><strong>Discount amount on additional services:</strong> <%= vip_customers_benefit.discount_amount_on_additional_services %></p>
      <p><strong>Status:</strong> <%= vip_customers_benefit.status %></p>
    </div>
  </div>
</div>
