<p style="color: green"><%= notice %></p>

<%
page_title = Promotion.model_name.human.pluralize(I18n.locale)
content_for :title, page_title
%>

<h1><%= page_title %></h1>

<div id="promotions" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <% @promotions.each do |promotion| %>
    <%= render promotion %>
  <% end %>
</div>

<%== pagy_bootstrap_nav(@pagy) %>
<p class='text-muted text-center'>
  <%== pagy_info(@pagy) %>
</p>

<%= link_to "New promotion", new_promotion_path, class: "btn btn-primary mt-3" %>
