<div id="<%= dom_id review %>" class="col">
  <div class="card mb-3">
    <div class="card-header">
      <%= link_to review do %>
        <i class="fa fa-link"></i>
        <strong><%= review.to_s %></strong>
      <% end %>
    </div>
    <div class="card-body">
      <p><strong>Customer:</strong> <%= review.customer_id %></p>
      <p><strong>Room:</strong> <%= review.room_id %></p>
      <p><strong>Room rating:</strong> <%= review.room_rating %></p>
      <p><strong>Service rating:</strong> <%= review.service_rating %></p>
      <p><strong>Comment:</strong> <%= review.comment %></p>
      <p><strong>Status:</strong> <%= review.status %></p>
    </div>
  </div>
</div>
