<div class='dropdown'>
  <a href="#" class="px-3 d-flex align-items-center text-white text-decoration-none dropdown-toggle"
  data-bs-toggle="dropdown" aria-expanded="false" aria-label="<%= t('locales.label') %>">
    <%= image_tag "/locales/#{I18n.locale}.png", class: "me-2", alt: locale_name(I18n.locale) %>
    <div class="d-flex flex-column lh-sm">
      <span class="small text-uppercase opacity-75"><%= t('locales.label') %></span>
      <strong class="locale-current"><%= locale_name(I18n.locale) %></strong>
    </div>
  </a>

  <ul class="dropdown-locale dropdown-menu dropdown-menu-dark text-small shadow">
    <% I18n.available_locales.each do |locale| %>
      <li>
        <%= link_to locale_switch_url(locale), class: "dropdown-item d-flex align-items-center justify-content-between #{I18n.locale == locale ? 'text-bg-light' : 'text-light'}", data: { turbo_frame: '_top' } do %>
          <span class="d-flex align-items-center">
            <%= image_tag "/locales/#{locale}.png", class: 'me-2', alt: locale_name(locale) %>
            <span><%= locale_name(locale) %></span>
          </span>
          <small class="ms-3 text-uppercase opacity-75"><%= locale %></small>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
