<!DOCTYPE html>
<html data-bs-theme='auto' lang='en' class='h-100'>
  <%= render 'layouts/head' %>
  <style>
    .devise-locale {
      right: 0;
      top: -100px;
      z-index: 1000;
    }
  </style>

  <body class='h-100 bg-body-tertiary'>
    <div class='d-flex container h-100 align-items-center w-100 justify-content-center'>
      <div class="row justify-content-center w-100">
        <div class="position-relative col-md-8 col-lg-6 col-xl-5 my-3">
          <ul class="devise-locale position-absolute mb-0 list-unstyled">
            <% I18n.available_locales.each do |locale| %>
              <li class="px-2 py-1<%= ' text-bg-secondary' if I18n.locale == locale %>">
                <%= link_to url_for(locale: locale), class: 'dropdown-item d-flex' do %>
                  <%= image_tag("/locales/#{locale}.png", class: 'flag-icon me-2') %>
                  <%= locale.to_s.upcase %>
                <% end %>
              </li>
            <% end %>
          </ul>

          <%= image_tag "/logo.svg", class: "w-50 mx-auto d-block", alt: "Logo" %>

          <% if flash[:notice] %>
            <div class="alert alert-success mt-3 d-flex align-items-center" role="alert">
              <i class="bi bi-check-circle-fill me-2"></i>
              <div><%= flash[:notice] %></div>
            </div>
          <% end %>

          <% if flash[:alert] %>
            <div class="alert alert-danger mt-3 d-flex align-items-center" role="alert">
              <% if request.path == new_user_session_path %>
                <i class="bi bi-shield-lock-fill me-2"></i>
              <% elsif request.path == new_user_registration_path %>
                <i class="bi bi-person-fill-exclamation me-2"></i>
              <% else %>
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
              <% end %>
              <div><%= flash[:alert] %></div>
            </div>
          <% end %>

          <%= yield %>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
